@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 100% 100%;
    --foreground: 224 71% 4%;
    --card: 255 100% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 255 100% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 231 48% 54%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 215 28% 93%;
    --muted-foreground: 215 20% 45%;
    --accent: 261 44% 63%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 20% 90%;
    --input: 215 20% 90%;
    --ring: 231 48% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 255 100% 100%;
    --foreground: 224 71% 4%;
    --card: 255 100% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 255 100% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 231 48% 54%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 215 28% 93%;
    --muted-foreground: 215 20% 45%;
    --accent: 261 44% 63%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 20% 90%;
    --input: 215 20% 90%;
    --ring: 231 48% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
